In [25]:
#获取索引

import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json

gheaders = {
    'Referer': 'https://ieeexplore.ieee.org/xpl/issues?punumber=4275028&isnumber=9114348',#网站反爬
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36'
    }
res = requests.get('https://ieeexplore.ieee.org/rest/publication/4275028/regular-issues',headers=gheaders)
data = res.text

volume = re.findall('"volume":"(.*?)","issue":".*?".*?,"issueNumber":.*?,.*?"year":".*?","month":".*?"',data)
issue = re.findall('"volume":".*?","issue":"(.*?)".*?,"issueNumber":.*?,.*?"year":".*?","month":".*?"',data)
issuenumber = re.findall('"volume":".*?","issue":".*?".*?,"issueNumber":(.*?),.*?.*?"year":".*?","month":".*?"',data)
year = re.findall('"volume":".*?","issue":".*?".*?,"issueNumber":.*?,.*?"year":"(.*?)","month":".*?"',data)
month = re.findall('"volume":".*?","issue":".*?".*?,"issueNumber":.*?,.*?"year":".*?","month":"(.*?)"',data)

data_all = {
    'volume':np.array(volume),
    'year':np.array(year),
    'month':np.array(month),
    'issue':np.array(issue),
    'issuenumber':np.array(issuenumber)
}
da = pd.DataFrame(data_all)
da

   volume  year      month issue issuenumber
0      17  2020       June     2     9114348
1      17  2020      March     1     9032249
2      16  2019       Dec.     4     8930332
3      16  2019      Sept.     3     8827375
4      16  2019       June     2     8733952
5      16  2019      March     1     8664201
6      15  2018       Dec.     4     8576790
7      15  2018      Sept.     3     8457428
8      15  2018       June     2     8375823
9      15  2018      March     1     8310716
10     14  2017       Dec.     4     8170467
11     14  2017      Sept.     3     8027148
12     14  2017       June     2     7945319
13     14  2017      March     1     7875178
14     13  2016       Dec.     4     7778270
15     13  2016      Sept.     3     7580587
16     13  2016       June     2     7486950
17     13  2016      March     1     7429995
18     12  2015       Dec.     4     7358220
19     12  2015      Sept.     3     7243389
20     12  2015       June     2     7123709
21     12  2015      March     1     7061568
22     11  2014       Dec.     4     6994315
23     11  2014      Sept.     3     6891509
24     11  2014       June     2     6823234
25     11  2014      March     1     6804401
26     10  2013   December     4     6681633
27     10  2013  September     3     6597022
28     10  2013       June     2     6522803
29     10  2013      March     1     6478768
30      9  2012   December     4     6375899
31      9  2012  September     3     6294334
32      9  2012       June     2     6210468
33      9  2012      March     1     6161590
34      8  2011   December     4     6102274
35      8  2011  September     3     6009139
36      8  2011       June     2     5871348
37      8  2011      March     1     5741007
38      7  2010   December     4     5668974
39      7  2010  September     3     5560567
40      7  2010       June     2     5471036
41      7  2010      March     1     5412867
42      6  2009   December     4     5374027
43      6  2009  September     3     5374833
44      6  2009       June     2     5374827
45      6  2009      March     1     5331276
46      5  2008   December     4     5010442
47      5  2008  September     3     4805129
48      5  2008       June     2     4694131
49      5  2008      March     1     4570771
50      4  2007       Dec.     3     4489640
51      4  2007      Sept.     2     4383308
52      4  2007       June     1     4275029
53      3  2006      April     2     4798307
54      3  2006       Jan.     1     4798301
55      2  2005       Nov.     1     4798295
56      1  2004       Dec.     2     4798289
57      1  2004      April     1     4623688

In [27]:
import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json


def find_year(da):
    return da.index.str.startswith("2020")==1

#存储为excel
writer = pd.ExcelWriter(r'D:/jupyter_save/data.xlsx')
da['date'] = da['year'].map(str) + "-" + da['month']
da.set_index('date', inplace = True)
#str.replace('*','*')
da.loc[:,'issuenumber'] = da['issuenumber'].astype('int64')
da.to_excel(writer,sheet_name = 'IEEE Communications Magazine',index=True)
writer.save()
#数据爬取处理预备
file = pd.ExcelFile(r'./data.xlsx')
handle = pd.read_excel('./data.xlsx')
issuenum = handle['issuenumber']
datestr = handle['date'] 
#test
da.loc[find_year,:]

           volume  year  month issue  issuenumber
date
2020-June      17  2020   June     2      9114348
2020-March     17  2020  March     1      9032249

In [28]:
issuenum

0     9114348
1     9032249
2     8930332
3     8827375
4     8733952
5     8664201
6     8576790
7     8457428
8     8375823
9     8310716
10    8170467
11    8027148
12    7945319
13    7875178
14    7778270
15    7580587
16    7486950
17    7429995
18    7358220
19    7243389
20    7123709
21    7061568
22    6994315
23    6891509
24    6823234
25    6804401
26    6681633
27    6597022
28    6522803
29    6478768
30    6375899
31    6294334
32    6210468
33    6161590
34    6102274
35    6009139
36    5871348
37    5741007
38    5668974
39    5560567
40    5471036
41    5412867
42    5374027
43    5374833
44    5374827
45    5331276
46    5010442
47    4805129
48    4694131
49    4570771
50    4489640
51    4383308
52    4275029
53    4798307
54    4798301
55    4798295
56    4798289
57    4623688
Name: issuenumber, dtype: int64

In [ ]:
from lxml import etree
import json
import time
#id储存在toc数据包
length=len(issuenum)

alf = open(r'save.txt', 'w')

def get_paperinfo(issuenumber):
    jsonerror_flag = 0
    name = pd.Series([0])
    for x in range(0,58):#一次传太多容易报错，改这里，有多少个运行上面第一栏代码可以得到，筛选最新的
        time.sleep(1)
        print(x)
        y = issuenumber.loc[x]
        y = str(y)
        gheaders = {
            'Host': 'ieeexplore.ieee.org',
            'Referer': 'https://ieeexplore.ieee.org/xpl/tocresult.jsp?isnumber='+y+'&punumber=4275028',
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36'
            }
        toc_url = 'https://ieeexplore.ieee.org/rest/search/pub/4275028/issue/'+y+'/toc'
        for page in range(0,3):
            if page==1:
                payload = '{"isnumber":"'+y+'","punumber":"4275028","sortType":"vol-only-seq","pageNumber":"2"}'
            elif page==2:
                payload = '{"isnumber":"'+y+'","punumber":"4275028","sortType":"vol-only-seq","pageNumber":"3"}'
            else:
                payload = '{"isnumber":"'+y+'","punumber":"4275028","sortType":"vol-only-seq"}'     
            toc_res = requests.post(toc_url, headers = gheaders,data = payload)
            try:
                toc_dic = json.loads(toc_res.text)
                try:
                    articles = toc_dic['records']
                except KeyError:
                    print('不存在第'+str(page+1)+'页')
                    break
                else:
                    for article in articles:
                        flag = article['ephemera']
                        if flag == False:
                            #title = article['highlightedTitle']
                            paperid = article['articleNumber']
                            alf.write(paperid+'\n')
                            print(paperid)
            except json.JSONDecodeError:
                print('JSON error,try again-------issuenumber=%s', y )
                toc_url = 'https://ieeexplore.ieee.org/rest/search/pub/4275028/issue/'+y+'/toc'
                payload = '{"isnumber":"'+y+'","punumber":"4275028","sortType":"vol-only-seq"}'
                toc_res = requests.post(toc_url, headers = gheaders,data = payload)
                try:
                    toc_dic = json.loads(toc_res.text)
                    try:
                        articles = toc_dic['records']
                    except KeyError:
                        print('KEY_ERROR,filenum=',x)
                        break
                    else:
                        for article in articles:
                            flag = article['ephemera']
                            if flag == False:
                                #title = article['highlightedTitle']
                                paperid = article['articleNumber']
                                alf.write(paperid+'\n')
                                print(paperid)
                except json.JSONDecodeError:
                    name.loc[jsonerror_flag] = y
                    jsonerror_flag = jsonerror_flag + 1
                    print('Error  again,Pass\n')
                    continue
                else:
                    continue
            else:
                continue
    alf.close()
get_paperinfo(issuenum)
print('finish')

In [30]:
#对得到的id整合
import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json

id_data = pd.read_csv(r'./save.txt',header=None)
id_data.rename(columns={0:'paper-ID'}, inplace = True)
writer_paperid = pd.ExcelWriter(r'D:/jupyter_save/paperid.xlsx')
id_data.to_excel(writer_paperid,sheet_name = 'paper_idsave',index=True)
writer_paperid.save()
print('Finish')

Finish

In [31]:
#对所有文章进行信息获取
import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json

id_handle = pd.read_excel(r'./paperid.xlsx')
id_data = id_handle['paper-ID']
len(id_data)

786

In [47]:
#对所有文章进行信息获取
import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json

id_handle = pd.read_excel(r'./paperid.xlsx')
id_data = id_handle['paper-ID']
#id_data
info_creat = pd.DataFrame({'Year':[],
                          'Month':[],
                          'Day':[],
                          'Name':[],
                          'Keyword_0':[],
                          'Keyword_1':[],
                          'Keyword_2':[],
                          'Keyword_3':[],
                          'Keyword_4':[]                                                       
                         })
info_save = info_creat
def get_info(id_data, info_save,info_creat):
    finish_flag = False
    max_index = 786
    median_info = info_creat
    print('一组20篇文章，组数如下')
    for x in range(39,41):
        times = x+1
        if finish_flag == False:
            print(times)
            for y in range(0,20):
                flag = x*20 + y
                if flag < max_index:
                    id_test = id_data.loc[flag]
                    id_test = str(id_test)
                    gheaders = {
                    'Host': 'ieeexplore.ieee.org',
                    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36',
                    'Referer': 'https://ieeexplore.ieee.org/document/'+id_test+'/keywords',
                    }
                    metadata_url='https://ieeexplore.ieee.org/document/'+id_test+'/keywords'
                    #try看情况是否要添加
                    meta_res = requests.get(metadata_url,headers=gheaders)
                    info_data = meta_res.text
                    #global.document.metadata.*?"Keywords","kwd":(.*?)}],"isGetArticle".*?"journalDisplayDateOfPublication":.*?,"isPromo"
                    keywords = re.findall('"IEEE Keywords","kwd":(.*?)]}',info_data)
                    pub=re.findall('"journalDisplayDateOfPublication":(.*?),',info_data)
                    paper=re.findall('<title>(.*?) - IEEE',info_data)
                    keyword=''.join(keywords)
                    paper_name=''.join(paper)
                    pub=''.join(pub)
                    pub_date=pub.replace('"','')
                    keyword=keyword.replace('"','')
                    keyword=keyword.replace('[','')
                    keyword=keyword.replace(']','')
                    keyword_all=keyword.split(',')
                    pub_date=pub_date.split(' ')
                    if len(pub_date) == 3:
                        table_creat = pd.DataFrame({'Year':[pub_date[2]],
                                                    'Month':[pub_date[1]],
                                                    'Day':[pub_date[0]],
                                                    'Name':[paper_name],                                                   
                                                   })
                        for i in range(0,len(keyword_all)):
                            name_i = str(i)
                            table_creat.loc[:,"Keyword_"+name_i]=[keyword_all[i]]
                            #备忘：这里是当前文章的一行信息
                        median_info = pd.concat([median_info,table_creat],ignore_index = True)
                        #备忘：median_info循环20遍记录数据
                    else:
                        pub_date.insert(0,'00')
                        table_creat = pd.DataFrame({'Year':[pub_date[2]],
                                                    'Month':[pub_date[1]],
                                                    'Day':[pub_date[0]],
                                                    'Name':[paper_name],                                                   
                                                   })
                        for i in range(0,len(keyword_all)):
                            name_i = str(i)
                            table_creat.loc[:,"Keyword_"+name_i]=[keyword_all[i]]
                            #备忘：这里是当前文章的一行信息
                        median_info = pd.concat([median_info,table_creat],ignore_index = True)
                        #备忘：median_info循环20遍记录数据
                else:
                    finish_flag = True
                    break
            info_save = pd.concat([info_save,median_info],ignore_index = True)
            median_info = info_creat
            print('第'+str(times)+'组完成')
        else:            
            print('全部完成,无剩余内容')
            break
    return info_save 
info_data = get_info(id_data, info_save,info_creat)
paper_info = pd.ExcelWriter(r'D:/jupyter_save/paper_info.xlsx')
info_data.to_excel(paper_info,sheet_name = 'IEEE Trans on N&S Management',index=False)
paper_info.save()
runned_flag = True
print('Finish')

一组20篇文章，组数如下
40
   Year Month    Day                                               Name  \
0  2004         Dec.  Customer-oriented GMPLS service management and...
1  2004        April       Modeling and Management of Firewall Policies
2  2004        April  Failure-Oriented Path Restoration Algorithm fo...
3  2004        April  Scalability of Peer Configuration Management i...
4  2004        April  IPv6-in-IPv4 Tunnel Discovery: Methods and Exp...
5  2004        April   Generic On-Line Discovery of Quantitative Models

                   Keyword_0                      Keyword_1  \
0                 Resilience  Multiprotocol label switching
1  Telecommunication traffic              National security
2                  Bandwidth                     Protection
3                Scalability                Ad hoc networks
4           Network topology                  Encapsulation
5                      Delay              Predictive models

              Keyword_2               Keyword_3                  Keyword_4  \
0       Standardization                Internet                    Routing
1  High level languages   Information filtering        Information filters
2           Polynomials    Heuristic algorithms  Telecommunication traffic
3             Protocols  Peer to peer computing      Technology management
4              Internet       Routing protocols                    Testing
5            Monitoring    Knowledge management                 Prototypes

                  Keyword_5                             Keyword_6  \
0          Packet switching      Wavelength division multiplexing
1               IP networks                      Defense industry
2  Approximation algorithms                          Availability
3                 Databases  Telecommunication network management
4               IP networks                         Data security
5     Technology management     Computer integrated manufacturing

                  Keyword_7                      Keyword_8  \
0                     SONET  Service oriented architecture
1           Home automation          Technology management
2  Virtual private networks  Multiprotocol label switching
3              Open systems         Communication channels
4                 Tunneling            Transport protocols
5                 Databases                    Measurement

             Keyword_9
0  Marketing and sales
1      Matched filters
2              Routing
3     Mobile computing
4                 FETs
5      Neural networks
第40组完成
全部完成,无剩余内容
Finish

In [15]:
runned_flag

False

In [34]:
# #建立此期刊对应sheet且会初始化！！！
# import requests
# import re
# import pandas as pd
# import numpy as np
# import xlwt
# from lxml import etree
# import json

# This = pd.DataFrame({'Year':[],
#                           'Month':[],
#                           'Day':[],
#                           'Name':[],
#                           'Keyword_0':[],
#                           'Keyword_1':[],
#                           'Keyword_2':[],
#                           'Keyword_3':[],
#                           'Keyword_4':[]                                                       
#                          })
# writer = pd.ExcelWriter(r'D:/jupyter_save/total_info.xlsx')
# This.to_excel(writer,sheet_name = 'IEEE Trans on N&S Management',index=False)
# writer.save()
# print('Finish')

Finish

In [ ]:
info_data

In [38]:
#分批录入

import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json
if runned_flag ==True:
    merged_writer = pd.ExcelWriter(r'D:/jupyter_save/total_info.xlsx')
    merge_info_now = pd.read_excel(r'./paper_info.xlsx')
    merge_info_pro = pd.read_excel(r'./total_info.xlsx')
    merge_allinfo = pd.concat([merge_info_pro,merge_info_now],ignore_index = True)
    merge_allinfo.to_excel(merged_writer,sheet_name = 'IEEE Trans on N&S Management',index=False)
    merged_writer.save()
    runned_flag =False
    print('Finish')
else:
    print('无需重复录入')

Finish

In [48]:
#统一不同时期的格式并存储
import requests
import re
import pandas as pd
import numpy as np
import xlwt
from lxml import etree
import json
import openpyxl


def add_sheet(data, excel_writer, sheet_name):
    book = openpyxl.load_workbook(excel_writer.path)
    excel_writer.book = book
    data.to_excel(excel_writer=excel_writer, sheet_name=sheet_name, index=True, header=True)
    excel_writer.close()
    
    
    
writer = pd.ExcelWriter(r'D:/jupyter_save/Final_info.xlsx', engine='openpyxl')
info = pd.read_excel(r'./total_info.xlsx')
info['Date'] = info['Month'].map(str)  + info['Day'].map(str)
info_fix = info['Date'].str.replace("[0123456789.]","").str.replace('nan','')
info_fix = info_fix.str.replace('Jan','01').str.replace('Feb','02').str.replace('Mar','03').str.replace('Apr','04').str.replace('May','05').str.replace('Nov','11')
info_fix = info_fix.str.replace('Jun','06').str.replace('Jul','07').str.replace('Aug','08').str.replace('Sep','09').str.replace('Oct','10').str.replace('Dec','12')
info_fix = info_fix.str.replace("[abcehilmorstuy]","")
info['Date'] = info_fix
info['Date'] = info['Year'].map(str)  +'-'+ info['Date'].map(str)
# info['Date'] = info['Date'].str.replace('\n','')
del info['Month']
del info['Day']
del info['Year']
info.set_index('Date',inplace = True)

add_sheet(info, writer, 'IEEE Trans on N&S Management')
# info.to_excel(writer,sheet_name = 'IEEE Transactions on Networking',index=True)
# writer.save()
print('finish')

finish